<!DOCTYPE html>
<html>
    <head>
        <title> Grocery List </title>
    </head>
    <body>
        <div id ="add_item">
            <form action=""/add_items":method="POST">
              <select name="select_items">
                   {% for item in all_data %}
                   <p>{{ item }}</p>
                   <option value="{{ item }}">{{ item }}</option>
                   {% endfor %}
                   <input type="submit" value="ADD ITEM">        
              </select>
            </form>
        </div>
    </body>
</html>